{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}widget-content-frameless{{ end }}

{{ define "widget-content" }}
<div class="plyr__video-embed" id="player">
  <iframe
    src="https://www.youtube.com/embed/{{ .Source }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
    allowfullscreen
    allowtransparency
    allow="autoplay"
    height="{{ .Height }}px"
    frameborder="0"
    width="100%"
  ></iframe>
</div>
{{ end }}
                  
